*.txt
*.csv
*.docx
.DS_Store
*.zip
*.dat
.RData
.Rhistory
pyvenv.cfg
**/.ipynb_checkpoints
*.png
*.RT-H5
**/MODELS
**/OUTPUT
**/IMERG
**/bin
**/include
**/lib
test.py
**/share
**/etc
TC_Prediction_2.ipynb
TC_Prediction_3.ipynb